body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.main{
    vertical-align: middle;
    display: flex;

    font-size: 0.8rem;
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
#cart{
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}
@media(max-width:767px){
    #cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
#summary{
    background-color: #6e6a6a;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    box-shadow: 10px 0 50px rgba(255, 255, 255, 0.4);
}
@media(max-width:767px){
    #summary{
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}
#summary .col-2{
    padding: 0;
}
#summary .col-10
{
    padding: 0;
}
.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    cursor: pointer;
    margin-left: auto;
    font-size: 0.7rem;
}
.col img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    color: #0b0b0b;
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.drp-calendar{
    color: black;
}
.order.btn{
    background-color: #000;
    font-weight: bold;
    border-color: #000;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
    color: #ffffff;
}
.order.btn:hover{
    background-color: #E14D2A;;
    border-color: #E14D2A;;
}
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}