@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply Montserrat font to all elements */
body {
    font-family: 'Montserrat', sans-serif;
  
}

body {
    background-color: #f8f9fa;
}


.navbar {
    background-color: #343a40;
}

.jumbotron {
    background: url('background-image.jpg') center/cover;
    color: #000;
    text-align: center;
    padding: 100px 0;
}

.features {
    background-color: #fff;
    padding: 80px 0;
}

.feature-item {
    text-align: center;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.cta {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.form-container {
    width: 400px;
    height: 500px;
    border: 2px solid #ddd;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .nav-item {
    font-size: 18px !important;
}